<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fason - <%= title %></title>
    <link rel="stylesheet" href="/css/style.css">
    <% if (page === 'gps') { %>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css">
    <% } %>
</head>
